html{
  color-scheme: light;
  scroll-behavior: smooth;
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
}


body {
  position: relative;
  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  // BASE VARIABLES
/*   color: #64748b;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  background-color: #f1f5f9; */

  color: $body-text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-family: $font-primary;
  background-color: $body-bg-color;
}


/** DEFAULT STYLEs */
img {
  display: block;
  max-width: 100%;
}
